.div1{
    background-color: blueviolet;
}
.div2{
    background-color: rgb(89, 255, 29);
}
.div3{
    background-color: rgb(63, 118, 228);
}

.container{
    border: 2px solid black;
    /*Limita o tamanho do elemento*/
    max-width: 400px;
    margin: 0 auto;
    /*define o tamanho do elemento e o espaço entre eles*/
    display: flex;
}

.item{
    background-color: blue;
    margin: 5px;
    text-align: center;
    color: beige;
}

.imagem{
    height: 100px;
    width: 150px;
}

.flex{
    display: flex;
    /* Define a direção dos elementos */
   
}

.flex > div > img{
    height: 50px;
    width: 50px;
}

.div-coluna{
    height: 100px;
    width: 100px;
    background-color: rgb(33, 72, 59);
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: brown;
    /*Coloca um espaço entre os elemento*/
    gap: 10px;
    /*Quebra os elementos para outra linha, 
    caso não haja espaço suficiente*/
    flex-wrap: wrap;
}

.secao-imagem{
    width: 150px;
    height: 150px;
}

.alinhar-esquerda{
    display: flex;
    flex-direction: row;
    /*Alinha o elemento ao inicio*/
    justify-content: flex-start;

}

.alinhar-centro{
    display: flex;
    flex-direction: row;
    /*Alinha o elemento ao centro*/
    justify-content: center;

}

.alinhar-direita{
    display: flex;
    flex-direction: row;
    /*Alinha o elemento ao centro*/
    justify-content: flex-end;

}

.alinhar-entre{
    display: flex;
    flex-direction: row;
    /*Alinha o elemento ao centro*/
    justify-content: space-between;
}

.alinhar-redor{
    display: flex;
    flex-direction: row;
    /*Distribui os itens com espaço ao redor deles*/
    justify-content: space-around;
}

.alinhar-coluna{
    display: flex;
    flex-direction: column;
    /*Distribui os itens com espaço ao redor deles*/
    align-items: center;
    width: 100%;
    background-color: darkmagenta;
}

.alinhar-itens-centro{
    display: flex;
    flex-direction: row;
    /*Distribui os itens com espaço ao redor deles*/
    
    width: 200%;
    background-color: rgb(245, 245, 23);
}




