
    /* Seletor universal */
    *{
        margin: 0;
    }
    /* Seletor do tipo, aplicando em uma tag */
    p{
        color: brown;
    }
    /* Seletor de classe */
    
    .paragrafo{
        background-color: cadetblue;
        

        /*margin: 10px 40px; - Aplica em todas as margens*/
        /* margin: 10px 40px; - Aplica nas margens 'Latersais' e 'superior e inferior' */
        /*margin: 10px 20px 30px 40px;/*aplica margem top, right, bottom, left*/
        margin-left: 10px;
        text-align: center;
        
    

    }
    .imagem {
        width: 150px;
        height: 1000px;

    }

.body{
    background-color: rg blueviolet;
}
.tabela{
    /*remover os espaços entre as bordas */
    border-collapse: collapse;
    width: 100%;
}

  .cabecalho, .celula{
    /* configura o formato da borda 
    Expessura, tipo e cor */
    border: 2px solid #000000;
    /*define o espaçamento interno*/
    padding: 5px;
    text-align: left;
    color: black;
    background-color: aqua;
    
}
.cabecalho2{
    background-color: rgb(255, 0, 136);
}
.cabecalho3{
    background-color: red;

}
.formulario{
    background-color: rgb(168, 140, 54);
}
.input-nome{
    /* Remove do elemento */
    border: none;
    border-radius: 5px;
    margin-left: 50px;
    /*define a opacidade do elemento*/
    opacity: 70%;
}
.botao{
    background-color: rgb(158, 48, 48);
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    /*aplica sombra no texto posição x,y, blur e o rgba que aplica com opacidade*/
    text-shadow: 11px 1px 4px rgba(rgb(127, 2, 2), rgb(121, 145, 121), rgb(58, 26, 31), 0.9)
}
.checar{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    /*modificar o tipo do cursor */
    cursor: pointer;
    /* zerar configurações de aparencias */
    appearance: none;
    background-color: aqua;
    border: 2px solid #4caf50;
    border-radius: 5px;

}
.checar:checked{
    background-color: rgb(113, 24, 239);

}

.email{
    width: 300px;
    padding: 5px 5px;
    margin-left: 5px;
    border: 2px solid white;
}
.selecao{
    appearance: none;
    width: 300px;
    padding: 4px;
    font-size: 16px;
    color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    /*sombra no input*/
    box-shadow: 0 2px 5px rgba(0,0,0, 0.8);
}

.radio{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d3421d;
    border-radius: 50%;
    cursor: pointer;
}
/*Pseudoclasse, quando o estado do objeto muda, ele atribui outras propriedades*/
.radio:checked{
    background-color: #d3421d;
    border-color: #50d350;
}